<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <h1><%= @player.name %></h1>

    </div>
    <div class="col-xs-12 col-md-8">
        <strong>Position:</strong>
        <%= @player.position.name %>
    </div>
    <div class="col-xs-12">
    <%= link_to 'Edit', edit_player_path(@player), { :class => 'btn btn-success'} %>
    <%= link_to 'Back', players_path, {:class => 'btn btn-secondary' } %>
    </div>
</div>


